<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="service" type="DatabaseLatencyTester.ServiceConfigurationSection, DatabaseLatencyTester" />
    <section name="metrics" type="Bluewire.MetricsAdapter.Configuration.MetricsConfigurationSection, Bluewire.MetricsAdapter" />
  </configSections>
  <connectionStrings>
    <add name="Target" connectionString="data source=SqlServerDb;initial catalog=EproDMD;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <service>
    <queries interval="00:00:01">
      <query name="Version" text="select serverproperty('productversion')" />
      <query name="PrescribableProducts" text="select top(1000) * from prescribableProducts" />
    </queries>
  </service>
  <metrics>
    <!--
    <perMinute enabled="true" daysToKeep="7" />
    -->
    <perHour enabled="false" daysToKeep="365" />
  </metrics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>